* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
	--bg-color: #222;
	--primary-color: #fff;
}

.drag {
	user-select: none;
	-webkit-app-region: drag;
}

.nodrag {
	-webkit-app-region: no-drag;
}

.container {
	padding: 0 5vw;
	margin: auto;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	color: var(--bg-color);
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.4em;
}

p {
	margin-top: 10px;
	font-weight: 100;
	font-size: 1.3em;
}
